body {
	padding: 0;
}

#header {
	position: relative;
}

.main {
	width: 100%;
}


/*================banner style=============*/

.banner {
	width: 100%;
	height: 600px;
	background: url(../img/activity_banner.jpg) no-repeat center;
	background-size: cover;
}


/*===================lanrenzhijia style=============*/

.lanrenzhijia {
	width: 100%;
}

.lanrenzhijia .center {
	justify-content: space-around;
}

.lanrenzhijia .title {
	height: 130px;
	border-bottom: 4px solid #f2f0f3;
	background: #f4f4f4;
}

.lanrenzhijia .title ul {
	position: relative;
	height: 100%;
	margin: 0 30%;
}

.lanrenzhijia .title li {
	height: 100%;
	width: 50%;
	font-size: 26px;
	cursor: pointer;
}

.lanrenzhijia .title-list>p {
	position: absolute;
	width: 50%;
	left: 0;
	bottom: -4px;
	border-bottom: 4px solid #E51C23;
	overflow: hidden;
}

.lanrenzhijia .title .on {
	color: #E51C23;
}

.lanrenzhijia .product-wrap {
	width: 1200px;
	margin: 40px auto;
	min-height: 600px;
}

.product {
	display: none;
	position: relative;
	/*overflow:hidden ;*/
}

.show {
	display: block;
}

.product>div {
	margin: 0 50px;
}


/*================main style==============*/

.product .activity_list {
	padding-top: 38px;
}

.product .activity_list li {
	width: 80%;
	padding: 42px 10%;
	margin: 0 auto;
	display: flex;
	align-content: center;
	border-bottom: 1px solid #d9d9d9;
}

.product .activity_list li:last-of-type {
	border-bottom: 0;
}

.product .activity_list li i {
	width: 383px;
	height: 258px;
	display: block;
	overflow: hidden;
}

.product .activity_list li div {
	width: calc(100% - 429px);
	margin-left: 46px;
	font-size: 16px;
}

.product .activity_list li h2 {
	margin: 5px 0;
	font-size: 20px;
}

.product .activity_list li p {
	line-height: 36px;
}

.product .activity_list li .activity_people {
	color: #ff9a01;
}

.product .activity_list li .inIng {
	display: initial;
	color: #b4d889;
}

.product .activity_list li a {
	display: block;
	width: 136px;
	height: 51px;
	line-height: 51px;
	text-align: center;
	background: #ff9a01;
	color: #fff;
	border-radius: 10px;
}

.product .activity_list li .aActive {
	cursor: not-allowed;
}

.product .activity_list li .aActive {
	background: #aaaaaa;
}

/*分页*/
.mainbox .pageTest {
	padding: 20px 0;
}

.mainbox .pageTest.center {
	justify-content: flex-end;
}

.mainbox .page_div button {
	display: inline-block;
	width: 43px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	margin: 0 5px;
	background: #e4e4e4;
	cursor: pointer;
	border: 0;
	outline: none;
	font-family: "黑体";
	font-size: 16px;
}

#firstPage,
#lastPage,
#nextPage,
#prePage {
	width: 70px;
}

#nextPage,
#prePage {
	width: 70px
}

.mainbox .page_div .current {
	background: #f5ac37;
	color: #fff;
}

/* 页面数量 */
.mainbox .totalPages {
	margin: 0 10px
}

.mainbox .totalPages span,
.mainbox .totalSize span {
	color: #0073A9;
	margin: 0 5px
}

/*button禁用*/
.mainbox .page_div button:disabled {
	opacity: .5;
	cursor: no-drop
}

.tishi {
	/*position: fixed;
	top: 50%;
	left: 50%;*/
	background: rgba(0, 0, 0, .6);
	width: 200px;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	display: none;
}

@media screen and (max-width:1366px) {
	.lanrenzhijia .title ul {
		margin: 0 30%;
	}
}